.picture {
    width: 80vw;
}

.container {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.media-container {
    flex-direction: column;
    align-items: center;
    display: flex;
}